<main class="page__main">
    <section class="page__left-section">
        <form action="" method="post" id="form" class="search-form">
            <input type="text" id="txt-search" class="search-form__input">
            <button type="submit" id="btn-search" class="search-form__button">Buscar</button>
        </form>
        <h2 class="left-section__title">Mis series favoritas</h2>
        <ul id="favorites-list" class="favorites-list"></ul>
    </section>
    <section class="page__right-section">
        <div id="msg-no-results" class="msg-no-results msg-no-results--hidden">
            <p class="msg-no-results__icon"><i class="far fa-sad-cry"></i></p>
            <p class="msg-no-results__text">No se han encontrado resultados</p>
        </div>
        <ul id="result-list" class="result-list"></ul>
    </section>
</main>
