<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buscador de series</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Tomorrow:400,400i,700,700i&display=swap" rel="stylesheet">
    <script src="http://kit.fontawesome.com/672e03816c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
    </div>
    <script type="text/javascript" src="./assets/js/main.js"></script>
  </body>
</html>
