html {
    font-size: $default-font-size;
    font-family: $default-font-family;
}

.page__header {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: $color-show-title;
    padding: 32px;
}

.page__main {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.page__left-section {
    width: 25%;
    padding-right: 16px;
}

.page__right-section {
    width: 75%;
}

.result-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.show {
    padding: 16px;
    background-color: $color-bg-show;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    &__poster {
        max-width: 100%;
    }

    &__title {
        color: $color-show-title;
        font-weight: bold;
        padding: 8px 0;
    }

    &--selected {
        background-color: $color-show-title;
        .show__title {
            color: $color-bg-show;
        }
    }

    &:hover{
        transform: scale(1.05);
    }
}

.search-form {
    margin-bottom: 16px;

    &__input {
        box-shadow: none;
        border: none;
        border-bottom: 1px solid black;
        background-color: $color-white;
        padding: 8px;
        margin-right: 8px;
        max-width: 60%;
        font-weight: bold;
    }
    &__button{
        padding: 8px;
        border: none;
        color: $color-white;
        background-color: $color-show-title;
    }
}

.left-section__title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 16px;
    text-align: center;
    color: $color-show-title;
}

.fav-show {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &__title {
        padding: 16px;
        font-weight: bold;
        color: $color-bg-show;
        flex: 1;
        overflow: hidden;
    }

    &__poster {
        height: 96px;
    }

    &__remove-button {
        border: none;
        border-radius: 50%;
        background-color: $color-show-title;
        color: $color-white;
        font-weight: bold;
        font-size: 0.7rem;
        line-height: 0.7rem;
        width: 16px;
        height: 16px;
        padding: 0;
        cursor: pointer;
    }
}

.msg-no-results {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        font-size: 1.5rem;
    }
    &__icon {
        font-size: 5rem;
        margin-bottom: 16px;
        animation-name: animated-icon;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    &--hidden {
        display: none;
    }
}
